.form
  position: relative
  &__row
  &__input
    position: relative
    input
      width: 100%
      background: transparent
      border: none
      border-bottom: 1px solid $white
      padding: 20px 0 15px
      color: $white
      font-size: 20px
      font-weight: 300
      border-radius: 0
      +media-breakpoint-down(md)
        font-size: 14px
        padding: 15px 0 10px
      +media-breakpoint-down(xs)
        font-size: 16px
    &.icon
      input
        padding-right: 40px
  &__icon
    position: absolute
    width: 25px
    height: 25px
    top: 50%
    right: 0
    transform: translateY(-50%)
    +media-breakpoint-down(md)
      width: 20px
      height: 20px
    +media-breakpoint-down(xs)
      width: 17px
      height: 17px
    svg
      fill: $white
    path
      fill: $white
  &__btn

  &__checkbox
    position: relative
    margin: 20px 0
    input
      display: none
      &:checked
        & + label
          &::after
            opacity: 1
            visibility: visible
    label
      position: relative
      color: $white
      width: 100%
      padding-left: 30px
      cursor: pointer
      margin: 0
      +media-breakpoint-down(md)
        font-size: 14px
      +media-breakpoint-down(xs)
        font-size: 12px
        padding-left: 25px
      a
        color: $white
        text-decoration: underline
      &::before
        content: ""
        position: absolute
        top: 50%
        transform: translateY(-50%)
        left: 0
        width: 20px
        height: 20px
        background: $white
        +media-breakpoint-down(xs)
          width: 15px
          height: 15px
      &::after
        content: ""
        position: absolute
        top: 50%
        transform: translateY(-50%)
        left: 2px
        width: 15px
        height: 15px
        background-image: url(../images/dist/icons/check-solid.svg)
        background-size: contain
        background-repeat: no-repeat
        opacity: 0
        visibility: hidden
        transition: $trs
        +media-breakpoint-down(xs)
          width: 12px
          height: 12px
          left: 1.5px
// main-form
.main-form
  position: relative
  z-index: 99
  background: rgba($formBg, .65 )
  max-width: 376px
  padding: 30px 15px 17px
  border-radius: 30px
  +media-breakpoint-down(md)
    max-width: 350px
    padding: 25px 15px 15px
  +media-breakpoint-down(xs)
    width: 280px
    padding: 20px 10px 10px 10px
  &__wrap
    position: relative
    padding: 60px 22px 30px
    background-image: none !important
    border-bottom: 2px solid $white
    border-left: 2px solid $white
    border-right: 2px solid $white
    border-radius: 20px
    +media-breakpoint-down(md)
      padding: 60px 22px 25px
    +media-breakpoint-down(xs)
      padding: 60px 22px 20px
    &::after,
    &::before
      content: ""
      position: absolute
      top: -2px
      width: 13%
      height: 100%
      border-top: 2px solid $white
    &::before
      left: 0
      border-top-left-radius: 20px
    &::after
      right: 0
      border-top-right-radius: 20px
  &__title
    font-size: 25px
    text-transform: uppercase
    font-weight: 900
    color: $white
    text-align: center
    position: absolute
    top: -13px
    left: 50%
    transform: translateX(-50%)
    width: 100%
    height: auto
    line-height: 1.2
    +media-breakpoint-down(md)
      font-size: 22px
    +media-breakpoint-down(xs)
      font-size: 18px
      top: -11px
    span
      text-transform: none
      font-weight: 700
  &__img
    width: 300px
    +media-breakpoint-down(md)
      width: 100%
      margin-bottom: 40px
    +media-breakpoint-down(xs)
      margin-bottom: 15px
    img
      max-width: 100%
      height: auto

.ribbon-form
  position: relative
  width: 100%
  height: auto
  background-image: url(../images/dist/ribbon-bg.png)
  background-size: cover
  background-repeat: no-repeat
  padding: 65px 0
  background-position: center bottom
  +media-breakpoint-down(md)
    padding: 40px 0
  &__title
    color: $white
    font-size: 38px
    line-height: 1
    font-weight: 900
    text-transform: uppercase
    +media-breakpoint-down(lg)
      font-size: 28px
    +media-breakpoint-down(md)
      text-align: center
    +media-breakpoint-down(xs)
      font-size: 24px
    span
      font-weight: 300
      font-size: 28px
      text-transform: lowercase
      +media-breakpoint-down(lg)
        font-size: 20px
      +media-breakpoint-down(sm)
        font-size: 18px
  &__img
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center
    +media-breakpoint-down(md)
      margin: 30px 0
    +media-breakpoint-down(xs)
      margin: 20px 0 15px
    span
      display: block
      font-weight: 500
      font-size: 30px
      color: $red
      line-height: 1.2
      margin-top: 15px
      +media-breakpoint-down(lg)
        font-size: 22px
      +media-breakpoint-down(md)
        font-size: 20px
      +media-breakpoint-down(sm)
        font-size: 18px
    img
      +media-breakpoint-down(sm)
        width: 50px
        height: auto
  .form
    +media-breakpoint-down(md)
      max-width: 400px
      margin: 0 auto
    .form__btn
      max-width: 100%
