.portfolio
  position: relative
  text-align: center
  padding: 60px 0 70px
  background-image: url(../images/dist/portfolio-bg.png)
  background-size: cover
  background-position: top center
  +media-breakpoint-down(xs)
    padding: 40px 0 60px
  &.no-bg
    background-image: none
  &__title
    position: relative
    display: inline-block
    &::after
      content: ""
      position: absolute
      top: 5px
      right: -22px
      width: 20px
      height: 26px
      background-image: url(../images/dist/about/about-title-before.png)
      background-size: contain
      background-repeat: no-repeat
      +media-breakpoint-down(lg)
        top: 0
      +media-breakpoint-down(md)
        width: 16px
        height: 22px
        right: -18px
      +media-breakpoint-down(sm)
        width: 13px
        height: 16px
        right: -15px
    &::before
      content: ""
      position: absolute
      top: 70px
      left: 50%
      transform: translateX(-50%)
      width: 148px
      height: 19px
      background-image: url(../images/dist/about/about-title-after.png)
      background-size: contain
      background-repeat: no-repeat
      +media-breakpoint-down(lg)
        top: 60px
      +media-breakpoint-down(md)
        width: 90px
        height: 12px
        top: 47px
      +media-breakpoint-down(sm)
        width: 54px
        height: 8px
        top: 40px
      +media-breakpoint-down(xs)
        top: 35px
  &-covers
    &-list
      display: grid
      grid-template-columns: repeat(3, 1fr)
      grid-gap: 70px
      margin: 80px auto 0
      max-width: 80%
      +media-breakpoint-down(lg)
        grid-gap: 15px
        margin: 70px auto 0
      +media-breakpoint-down(md)
        grid-gap: 10px
        max-width: 100%
        margin: 60px auto 0
      +media-breakpoint-down(sm)
        grid-template-columns: repeat(2, 1fr)
        margin: 40px auto 0
      +media-breakpoint-down(xs)
        margin-top: 40px
  &-cover
    position: relative
    overflow: hidden
    width: 100%
    height: 360px
    border-radius: 20px
    +media-breakpoint-down(lg)
      height: 320px
    +media-breakpoint-down(md)
      border-radius: 15px
      height: 300px
    +media-breakpoint-down(sm)
      height: 320px
    &::after
      content: ""
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      height: 100%
      background: rgba(32, 18, 63, 0.3)
    &__img
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      img
        width: 100%
        height: 100%
        object-fit: cover
    &__title
      position: absolute
      z-index: 1
      bottom: 100px
      height: auto
      width: 100%
      text-align: center
      color: $white
      font-size: 20px
      font-weight: 900
      line-height: 1.1
      padding: 0 20px
      +media-breakpoint-down(lg)
        font-size: 18px
        bottom: 90px
      +media-breakpoint-down(md)
        font-size: 16px
        bottom: 77px
      +media-breakpoint-down(sm)
        font-size: 15px
    &__btn
      position: absolute
      bottom: 30px
      left: 50%
      width: 150px
      transform: translateX(-50%)
      height: auto
      border: 2px solid $white
      z-index: 1
      font-size: 14px
      font-weight: 500
      color: $white
      border-radius: 30px
      padding: 10px 0
      text-transform: uppercase
      +media-breakpoint-down(md)
        font-size: 14px
        padding: 5px 0
        font-size: 12px
      +media-breakpoint-down(sm)
        width: 120px
        font-size: 10px
      &:hover
        text-decoration: none
        color: $white
  &-text
    position: relative
    text-align: left
    font-weight: 300
    font-size: 25px
    line-height: 1.2
    margin: 80px auto 0
    max-width: 80%
    display: flex
    flex-direction: column
    flex-wrap: wrap
    +media-breakpoint-down(lg)
      font-size: 22px
      margin-top: 70px
    +media-breakpoint-down(md)
      font-size: 18px
      margin: 50px auto 0
      max-width: 100%
    +media-breakpoint-down(sm)
      font-size: 16px
    +media-breakpoint-down(xs)
      font-size: 15px
      margin-top: 30px
  &-slider
    position: relative
    max-width: 80%
    margin: 50px auto 0
    +media-breakpoint-down(xs)
      margin-top: 40px
    &-item
      position: relative
      display: block
      width: 100%
      height: 300px
      border-radius: 20px
      overflow: hidden
      &:hover
        img
          transform: scale(1.1)
      &::after
        content: ""
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        height: 100%
        border-radius: 20px
        background: linear-gradient(to top, rgba(32,18,63,1) 0%, rgba(32,18,63,0.15199583251269255) 60%)
      img
        width: 100%
        height: 100%
        object-fit: cover
        border-radius: 20px
        transition: $trs
      &__title
        position: absolute
        font-size: 20px
        font-weight: 900
        bottom: 20px
        left: 0
        z-index: 1
        color: $white
        line-height: 1.1
        padding: 0 15px
        +media-breakpoint-down(lg)
          font-size: 18px
        +media-breakpoint-down(sm)
          font-size: 16px
        +media-breakpoint-down(xs)
          font-size: 15px
  &-text
    position: relative
    p
      font-size: 18px
      font-weight: 300
      +media-breakpoint-down(lg)
        font-size: 17px
      +media-breakpoint-down(md)
        font-size: 16px
      +media-breakpoint-down(sm)
        font-size: 15px
      +media-breakpoint-down(xs)
        font-size: 14px
    &__img
      img
        max-width: 100%
        height: auto
    .img-text
      margin: 0 -15px 70px
      +media-breakpoint-down(md)
        margin: 0 -15px 50px
  &-shape-text
    max-width: 480px
    margin: 50px auto 50px
    border-bottom: 3px solid $red
    border-left: 3px solid $red
    border-right: 3px solid $red
    border-radius: 20px
    position: relative
    padding: 60px 30px 15px
    text-align: center
    font-size: 18px
    font-weight: 500
    +media-breakpoint-down(xs)
      padding: 50px 20px 15px
    &::after,
    &::before
      content: ""
      position: absolute
      top: 0
      width: 35%
      height: 100%
      border-top: 3px solid $red
      z-index: 11
    &::before
      border-top-left-radius: 20px
      left: -2px
    &::after
      border-top-right-radius: 20px
      right: -2px
    &__icon
      position: absolute
      top: -50px
      left: 50%
      transform: translateX(-50%)
      +media-breakpoint-down(xs)
        top: -40px
      svg
        fill: $red
        width: 120px
        max-height: 100px
        +media-breakpoint-down(xs)
          width: 100px
          max-height: 80px
    p
      span
        font-weight: 600
        font-size: 24px
  &-btn
    margin-top: 50px
    +media-breakpoint-down(xs)
      margin-top: 30px

h1.portfolio-text__title
  position: relative
  text-transform: uppercase
  font-size: 34px
  font-weight: 900
  margin: 0 0 30px
  +media-breakpoint-down(lg)
    font-size: 30px
  +media-breakpoint-down(md)
    font-size: 28px
  +media-breakpoint-down(sm)
    font-size: 24px
    margin: 0 0 15px
  +media-breakpoint-down(xs)
    font-size: 22px
  &::after
    content: attr(data-text)
    position: absolute
    top: -20px
    left: 0
    font-size: 56px
    font-weight: 900
    opacity: 0.7
    z-index: -1
    color: #eee
    line-height: 1.1
    +media-breakpoint-down(lg)
      font-size: 52px
      top: -10px
    +media-breakpoint-down(md)
      font-size: 46px
      top: -16px
    +media-breakpoint-down(sm)
      font-size: 38px
      top: -14px
    +media-breakpoint-down(xs)
      font-size: 34px
      top: -9px

h2.portfolio-text__title
  font-size: 20px
  font-weight: 900
  margin: 0 0 30px
  text-align: center
  +media-breakpoint-down(lg)
    font-size: 26px
  +media-breakpoint-down(md)
    font-size: 22px
  +media-breakpoint-down(sm)
    font-size: 20px
    margin: 0 0 15px
  +media-breakpoint-down(xs)
    font-size: 18px
@media screen and ( max-width: 480px )
  .portfolio-covers-list
    grid-template-columns: repeat(1,1fr)
    grid-gap: 15px
    max-width: 260px
    margin: 40px auto 0
