@import config
@import "blocks/**/*"

.content
  position: relative
  padding-top: 97px
  +media-breakpoint-down(lg)
    padding-top: 116px
  +media-breakpoint-down(md)
    padding-top: 89px
  +media-breakpoint-down(xs)
    padding-top: 173px
.location
  position: relative
  display: flex
  align-items: center
  justify-content: center
  font-size: 30px
  color: $red
  +media-breakpoint-down(lg)
    font-size: 28px
  +media-breakpoint-down(md)
    font-size: 24px
  +media-breakpoint-down(sm)
    font-size: 22px
  +media-breakpoint-down(xs)
    flex-direction: column
    text-align: center
    font-size: 18px
  &__icon
    position: relative
    top: -2px
    margin-right: 15px
    +media-breakpoint-down(xs)
      margin-right: 0
    svg
      width: 50px
      height: 50px
      path
        fill: $red

// pulse
.pulse
  position: relative
  width: 150px
  height: 150px
  border-radius: 50%
  text-align: center
  color: $yellow
  margin: 0 auto
  font-size: 20px
  line-height: 1.1
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  +media-breakpoint-down(sm)
    font-size: 18px
  .percent
    font-size: 32px
    +media-breakpoint-down(sm)
      font-size: 28px
    .bold
      font-size: 50px
      font-weight: 900
      +media-breakpoint-down(sm)
        font-size: 46px
  &::before,
  &::after
    content: ""
    position: absolute
    display: block
    border: 50%
    border: 1px solid $yellow
    left: -10px
    right: -10px
    top: -10px
    bottom: -10px
    border-radius: 50%
    animation: pulseAnimate 1.5s linear infinite
    opacity: 0
    backface-visibility: hidden
  &::after
    animation-delay: .5s

@keyframes pulseAnimate
  0%
    transform: scale(0.5)
    opacity: 0
  50%
    opacity: 1
  100%
    transform: scale(1.2)
    opacity: 0

// preoader
.preloader
  position: fixed
  width: 100%
  height: 100vh
  display: flex
  justify-content: center
  align-items: center
  background: $red
  z-index: 999
  &::after
    content: ""
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    background-image: url(../images/dist/preloader.svg)
    width: 140px
    height: 140px
    background-size: contain
    +media-breakpoint-down(md)
      width: 100px
      height: 100px
    +media-breakpoint-down(sm)
      width: 80px
      height: 80px

// images-slider
.images-slider
  position: relative
  width: 100%
  height: 445px
  +media-breakpoint-down(lg)
    height: 350px
  +media-breakpoint-down(md)
    height: 300px
  &__item
    height: 100%
    font-size: 18px
    a
      display: block
    img
      max-width: 100%
      width: 100%
      height: 100%
      object-fit: cover

.information
  position: relative
  padding: 20px 15px
  font-size: 16px
  +media-breakpoint-down(lg)
    font-size: 15px
  +media-breakpoint-down(xs)
    font-size: 14px
  &__text
    text-align: left
  .btn
    margin-top: 20px

.to-top
  position: fixed
  bottom: 140px
  right: -100px
  width: 50px
  height: 50px
  border-radius: 50%
  text-align: center
  line-height: 50px
  background: $red
  cursor: pointer
  transition: $trs
  opacity: 0.6
  z-index: 102
  +media-breakpoint-down(md)
    bottom: 130px
    width: 40px
    height: 40px
    line-height: 40px
  &.active
    right: 30px
    +media-breakpoint-down(xs)
      right: 15px
  &:hover
    opacity: 1
  svg
    color: $white
    width: 35px
    height: 35px
    +media-breakpoint-down(md)
      width: 28px
      height: 28px

.swiper-button-next, .swiper-button-prev
  width: 40px
  height: 70px
  background-color: rgba($formBg, .65 )
  transition: $trs
  +media-breakpoint-down(md)
    width: 30px
    height: 60px
  &:hover
    background-color: $red
.swiper-button-prev:after, .swiper-button-next:after
  content: ""
  height: 50%
  width: 80%
  background-size: contain
  background-repeat: no-repeat
  background-position: center center
  background-image: url(../images/dist/slider-arrow.png)
.swiper-button-prev:after
  transform: rotate(180deg)
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled
  opacity: 0
  visibility: hidden

.fancybox__counter,
.fancybox__thumbs,
.carousel__button.fancybox__button--thumbs,
.fancy-modal
  display: none
